################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UAM.OOP/UAM.OOP/bin/Debug
/UAM.OOP/UAM.OOP
/UAM.OOP/bin
/UAM.OOP/obj
